@import url(fonts.css);
* {
  font-family: 'MuseoSansRounded', -apple-system;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0; }

:root {
  --ui-background: white;
  --ui-general: #ecebef;
  --ui-general-hover: #d0ccdb;
  --ui-general-active: #b3acc8;
  --ui-general-transparent: rgba(236, 235, 239, 0.75);
  --ui-featured: #737BA6;
  --ui-featured-hover: #666397;
  --ui-featured-active: #625284;
  --ui-separator: rgba(152, 164, 184, 0.5);
  --text-header: #4e4860;
  --text-body: #373441;
  --ui-error: rgba(255, 128, 154, 0.3);
  --ui-error-hover: rgba(255, 77, 114, 0.3);
  --ui-error-active: rgba(255, 26, 73, 0.3);
  --ui-error-text: #b30025;
  --ui-valid: rgba(63, 255, 159, 0.3);
  --ui-valid-hover: rgba(12, 255, 134, 0.3);
  --ui-valid-active: rgba(0, 216, 108, 0.3);
  --ui-valid-text: #007239; }

.darkmode {
  --ui-background: #1f1e24;
  --ui-general: #373441;
  --ui-general-hover: #4e4860;
  --ui-general-active: #625784;
  --ui-general-transparent: rgba(55, 52, 65, 0.75);
  --ui-featured: #625284;
  --ui-featured-hover: #666397;
  --ui-featured-active: #737BA6;
  --ui-separator: rgba(102, 99, 151, 0.5);
  --text-header: white;
  --text-body: #b3acc8;
  --ui-error: rgba(179, 0, 37, 0.3);
  --ui-error-hover: rgba(230, 0, 47, 0.3);
  --ui-error-active: rgba(255, 26, 73, 0.3);
  --ui-error-text: #ff809a;
  --ui-valid: rgba(0, 114, 57, 0.3);
  --ui-valid-hover: rgba(0, 165, 83, 0.3);
  --ui-valid-active: rgba(0, 216, 108, 0.3);
  --ui-valid-text: #3fff9f; }
  .darkmode img {
    filter: invert(100%) !important; }

body,
html {
  height: 100%;
  position: relative;
  line-height: 1.5em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: var(--text-body);
  overflow-x: hidden;
  background: var(--ui-background);
  transition: all 0.5s ease; }

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-header);
  letter-spacing: -0.015em;
  font-weight: 700; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.5em; }

a {
  height: 100%;
  text-decoration: none; }

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  background: #070708; }
  .overlay.open {
    visibility: visible;
    opacity: 0.75; }

header {
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center; }
  header nav {
    width: 100%;
    height: calc(100% - 48px);
    display: grid;
    grid-gap: calc(48px / 4);
    grid-template-columns: auto auto auto 1fr auto auto auto;
    grid-template-areas: "button-home button-quiz toggle-navigation \a free-space \a context-settings context-sound context-help";
    align-items: center;
    padding: 0 48px; }
  header .nav_segmented {
    display: flex;
    height: 100%;
    width: auto;
    align-items: stretch;
    transition: all 0.1s ease;
    overflow: hidden;
    border-radius: 12px; }
    header .nav_segmented .nav_segmented_item {
      border-radius: 0; }
    header .nav_segmented:hover {
      background: var(--ui-general-hover);
      transform: scale(1.04); }
      header .nav_segmented:hover .nav_segmented_item {
        transform: scale(1); }
    header .nav_segmented:active {
      background: var(--ui-general-active);
      color: white;
      transform: scale(0.96); }
    header .nav_segmented a:first-child .nav_segmented_item {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    header .nav_segmented a:last-child .nav_segmented_item {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0; }

button {
  display: flex;
  align-items: center;
  min-width: 100px;
  height: 48px;
  appearance: none;
  border: 0;
  background: var(--ui-general);
  transition: all 0.1s ease;
  border-radius: 12px; }
  button:hover {
    background: var(--ui-general-hover);
    transform: scale(1.04); }
  button:active {
    background: var(--ui-general-active);
    color: white;
    transform: scale(0.96); }
  button span {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: var(--text-body); }
  button.muted {
    background: var(--ui-error); }
    button.muted:hover {
      background: var(--ui-error-hover); }
    button.muted:active {
      background: var(--ui-error-active); }
    button.muted img {
      filter: invert(0%) !important; }
  button.nav_button--context {
    min-width: 0;
    width: 48px;
    border-radius: 50%; }
    button.nav_button--context span {
      display: none; }
    button.nav_button--context img {
      width: 70%;
      object-fit: contain;
      margin: auto; }
  button.nav_button--featured {
    background-color: var(--ui-featured); }
    button.nav_button--featured:hover {
      background-color: var(--ui-featured-hover); }
    button.nav_button--featured:active {
      background-color: var(--ui-featured-active); }
    button.nav_button--featured img {
      filter: invert(100%) !important; }
  button.nav_button--validate {
    background: var(--ui-valid); }
    button.nav_button--validate:hover {
      background: var(--ui-valid-hover); }
    button.nav_button--validate:active {
      background: var(--ui-valid-active); }
    button.nav_button--validate span {
      color: var(--ui-valid-text); }
  button.nav_button.quiz_close {
    background: var(--ui-error); }
    button.nav_button.quiz_close:hover {
      background: var(--ui-error-hover); }
    button.nav_button.quiz_close:active {
      background: var(--ui-error-active); }
    button.nav_button.quiz_close span {
      color: var(--ui-error-text); }
    button.nav_button.quiz_close img {
      filter: invert(0%) !important; }

*[data-button-type="home"] {
  grid-area: button-home; }

*[data-button-type="quiz"] {
  grid-area: button-quiz; }

*[data-button-type="navigation"] {
  grid-area: toggle-navigation; }

*[data-button-type="settings"] {
  grid-area: context-settings; }

*[data-button-type="sound"] {
  grid-area: context-sound; }

*[data-button-type="help"] {
  grid-area: context-help; }

main {
  position: relative;
  height: calc(100% - 96px);
  padding: 48px; }
  main.welcome_container {
    text-align: center;
    display: grid;
    height: 100vh;
    place-items: center; }
    main.welcome_container section {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      height: auto; }
      main.welcome_container section iframe {
        flex: 1;
        width: 100%; }
      main.welcome_container section p {
        text-align: left; }
      main.welcome_container section button {
        margin: auto;
        margin-top: calc(48px / 2); }

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-row-gap: calc(48px / 2);
  grid-column-gap: 48px;
  grid-template-areas: "title title title" "content content aside";
  border-radius: 12px;
  height: 100%; }
  section h1 {
    grid-area: title; }
  section hr {
    border: 0;
    height: 2px;
    display: block;
    width: 100%;
    background: var(--ui-separator); }
  section.page:before {
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    left: 48px;
    right: 48px;
    height: 2px;
    top: 0;
    background: var(--ui-separator); }
  section.color_module {
    height: calc(100vh - (96px * 2) - 48px); }
  section.quiz_module {
    z-index: 100;
    background: var(--ui-background);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 60%;
    left: 20%;
    right: 20%;
    bottom: 5%;
    top: 5%;
    height: auto;
    padding: 48px;
    display: block;
    opacity: 0;
    overflow: scroll;
    visibility: hidden;
    transform: translateX(100vw);
    transition: 0.4s ease; }
    section.quiz_module.open {
      transform: translateX(0);
      opacity: 1;
      visibility: visible; }
    section.quiz_module > * + * {
      margin-top: calc(48px / 2); }
    section.quiz_module h2 {
      display: flex;
      align-items: center;
      font-weight: 700;
      justify-content: space-between; }
    section.quiz_module article {
      grid-area: content;
      background: var(--ui-general);
      padding: 12px;
      border-radius: 12px; }
      section.quiz_module article.answer_correct .quiz_message {
        padding: 4px;
        border-radius: calc(12px / 2);
        display: block;
        background-color: var(--ui-valid);
        color: var(--ui-valid-text); }
      section.quiz_module article.answer_incorrect .quiz_message {
        padding: 4px;
        border-radius: calc(12px / 2);
        display: block;
        background-color: var(--ui-error);
        color: var(--ui-error-text); }
      section.quiz_module article strong {
        display: block;
        color: var(--text-header); }
      section.quiz_module article label:not(:last-child) {
        margin-right: 12px; }
      section.quiz_module article label {
        padding: 6px 0;
        display: inline-flex;
        align-items: center;
        position: relative;
        padding-left: calc(32px + 12px); }
        section.quiz_module article label .inner_check, section.quiz_module article label .outer_check {
          display: block;
          position: absolute;
          left: 0px;
          top: 50%;
          left: 16px;
          transform: translate(-50%, -50%) scale(1);
          border-radius: 50%;
          transition: all 0.15s ease; }
        section.quiz_module article label .outer_check {
          background: var(--ui-general-hover);
          width: 32px;
          height: 32px; }
        section.quiz_module article label .inner_check {
          background: var(--ui-general);
          width: 28px;
          height: 28px;
          z-index: 2; }
        section.quiz_module article label input[type=radio] {
          display: none; }
        section.quiz_module article label:hover .outer_check {
          transform: translate(-50%, -50%) scale(0.95); }
        section.quiz_module article label:hover .inner_check {
          transform: translate(-50%, -50%) scale(0.8); }
        section.quiz_module article label:active .outer_check {
          transform: translate(-50%, -50%) scale(0.9); }
        section.quiz_module article label:active .inner_check {
          transform: translate(-50%, -50%) scale(0.65); }
        section.quiz_module article label input:checked ~ .inner_check {
          transform: translate(-50%, -50%) scale(0.15); }
        section.quiz_module article label input:checked ~ .outer_check {
          transform: translate(-50%, -50%) scale(1);
          background: var(--ui-featured); }
        section.quiz_module article label:hover input:checked ~ .inner_check {
          transform: translate(-50%, -50%) scale(0.2); }
        section.quiz_module article label:hover input:checked ~ .outer_check {
          transform: translate(-50%, -50%) scale(0.95);
          background: var(--ui-featured-hover); }
        section.quiz_module article label:active input:checked ~ .inner_check {
          transform: translate(-50%, -50%) scale(0.35); }
        section.quiz_module article label:active input:checked ~ .outer_check {
          transform: translate(-50%, -50%) scale(0.9);
          background: var(--ui-featured-active); }
  section.device_module {
    grid-template-areas: "title" "content";
    grid-template-columns: 1fr; }
    section.device_module .device_drawer {
      width: calc(100vw - (48px * 2));
      display: flex;
      flex-flow: row nowrap;
      border-top: 2px solid var(--ui-separator);
      border-bottom: 2px solid var(--ui-separator);
      padding: 48px 0;
      overflow-x: scroll; }
      section.device_module .device_drawer > div {
        padding: 48px;
        background: var(--ui-general-transparent);
        border-radius: 12px;
        min-width: 800px;
        display: inline-block;
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin-top: 0; }
        section.device_module .device_drawer > div:not(:last-child) {
          margin-right: 48px; }
        section.device_module .device_drawer > div p {
          display: block; }
          section.device_module .device_drawer > div p strong {
            display: block;
            margin-top: 12px; }
      section.device_module .device_drawer .magnify {
        display: flex;
        justify-content: center; }
        section.device_module .device_drawer .magnify img {
          object-fit: contain; }
        section.device_module .device_drawer .magnify > .magnify_lens {
          width: 300px;
          height: 300px; }
  section .excerpt {
    margin-top: 24px;
    border-top: 2px solid var(--ui-separator);
    padding-top: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch; }
    section .excerpt img,
    section .excerpt iframe {
      display: block;
      width: 20%;
      height: 100%;
      object-fit: cover;
      margin-right: 24px; }
  section .article_content {
    grid-area: content; }
    section .article_content > * + * {
      margin-top: 24px; }
  section aside {
    grid-area: aside;
    background: var(--ui-general-transparent);
    border-radius: 12px;
    padding: calc(48px / 2);
    z-index: 10;
    -webkit-backdrop-filter: blur(32px); }
    section aside img {
      width: 100%; }
  section aside > * + *,
  section article > * + * {
    margin-top: 12px; }

.excerpt img,
.excerpt iframe,
.aside img {
  border-radius: calc(12px / 2); }

.color_module .box {
  position: absolute;
  background: transparent;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  transform-origin: center center; }
  .color_module .box .box_wrapper {
    isolation: isolate;
    position: relative;
    width: 100%;
    height: 100%; }
  .color_module .box .box_wrapper .pearl {
    position: absolute;
    background: inherit;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0); }

.color_module#color_mix--subtractive .pearl {
  mix-blend-mode: multiply; }

.color_module#color_mix--additive .pearl {
  mix-blend-mode: screen; }

.context_menu {
  position: absolute;
  bottom: calc((96px - 48px) / 2);
  right: 0;
  padding: 0 48px;
  display: flex;
  height: 48px; }
  .context_menu > * + * {
    margin-left: calc(48px / 4); }
  .context_menu .nav_button--context img {
    filter: invert(100%); }
