@font-face {
    font-family: 'MuseoSansRounded';
    src: url('assets/museo_sans/museosansrounded-300-webfont.eot');
    src: url('assets/museo_sans/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/museo_sans/museosansrounded-300-webfont.woff') format('woff'),
        url('assets/museo_sans/museosansrounded-300-webfont.ttf') format('truetype'),
        url('assets/museo_sans/museosansrounded-300-webfont.svg#museo_sans_rounded300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('assets/museo_sans/museosansrounded-500-webfont.eot');
    src: url('assets/museo_sans/museosansrounded-500-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/museo_sans/museosansrounded-500-webfont.woff') format('woff'),
        url('assets/museo_sans/museosansrounded-500-webfont.ttf') format('truetype'),
        url('assets/museo_sans/museosansrounded-500-webfont.svg#museo_sans_rounded500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansRounded';
    src: url('assets/museo_sans/museosansrounded-700-webfont.eot');
    src: url('assets/museo_sans/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/museo_sans/museosansrounded-700-webfont.woff') format('woff'),
        url('assets/museo_sans/museosansrounded-700-webfont.ttf') format('truetype'),
        url('assets/museo_sans/museosansrounded-700-webfont.svg#museo_sans_rounded700') format('svg');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'MuseoSansRounded', -apple-system;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
}

:root {
    --grey-dark: #4c4c67;
    --grey-darker: #2E2E3E;

    --button-size: 48px;
    --header-height: 96px;
    --header-offset: calc(var(--header-height) - var(--button-size));
    --section-padding: 48px;
    --border-radius-std: 12px;

    --color-grade-0: #f0f0f5;
    --color-grade-1: #e1e1eb;
    --color-grade-2: #ACB4BD;
    --color-grade-3: #98A4B8;
    --color-grade-4: #8592B0;
    --color-grade-5: #737BA6;
    --color-grade-6: #666397;
    --color-grade-7: #625284;
    --color-grade-8: #5C416C;
    --color-grade-9: #4E2F50;
    --color-grade-10: #331D2E;
}

body,
html {
    height: 100%;
    position: relative;
    line-height: 1.5em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: var(--grey-darker);
}

h1 {
    font-size: 2.25em;
    font-weight: 700;
    letter-spacing: -0.015em;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

header {
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
}

header nav {
    width: 100%;
    height: calc(100% - var(--header-offset));
    display: grid;
    grid-gap: calc(var(--button-size) / 4);
    grid-template-columns: auto auto auto 1fr auto auto auto;
    grid-template-areas: "button-home button-quiz toggle-navigation \a free-space \a context-settings context-sound context-help";
    align-items: center;
    padding: 0 var(--section-padding);
}

header .nav_segmented {
    display: flex;
    height: 100%;
    align-items: stretch;
    border-radius: var(--border-radius-std);
    overflow: hidden;
}

header .nav_segmented .nav_segmented_item {
    height: auto;
    margin: 0;
    border: 1px solid red;
    display: block;
}

header .nav_button {
    height: 100%;
    border-radius: var(--border-radius-std);
}

header .nav_button.nav_button--context {
    min-width: 0;
    width: var(--button-size);
    border-radius: 100px;
}

header .nav_button.nav_button--context span {
    display: none;
}

header button {
    display: flex;
    align-items: center;
    min-width: 100px;
    appearance: none;
    border: 0;
    background: var(--color-grade-0);
    transition: all 0.1s ease;
}

header .nav_segmented {
    transition: all 0.1s ease;
}

header .nav_segmented:hover {
    transform: scale(1.02);
}

header .nav_segmented:active {
    transform: scale(0.98);
}

header button span {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

header button:hover {
    background: var(--color-grade-1);
    transform: scale(1.04);
}

header button.nav_segmented_item:hover {
    background: var(--color-grade-1);
    transform: scale(1);
}

header button:active {
    background: var(--color-grade-2);
    color: white;
    transform: scale(0.96);
}

header button.nav_button--standard:active {
    color: inherit;
}

header button.nav_segmented_item:active {
    background: var(--color-grade-2);
    color: inherit;
    transform: scale(1);
}


header .nav_button.nav_button--context img {
    width: 70%;
    object-fit: contain;
    margin: auto;
}

*[data-button-type="home"] {
    background-color: var(--color-grade-6);
    grid-area: button-home;
}

*[data-button-type="home"]:hover {
    background-color: var(--color-grade-7);
}

*[data-button-type="home"]:active {
    background-color: var(--color-grade-8);
}

*[data-button-type="home"] img {
    filter: invert(100%);
}


*[data-button-type="quiz"] {
    grid-area: button-quiz;
}

*[data-button-type="navigation"] {
    grid-area: toggle-navigation;
}

*[data-button-type="settings"] {
    grid-area: context-settings;
}

*[data-button-type="sound"] {
    grid-area: context-sound;
}

*[data-button-type="help"] {
    grid-area: context-help;
}

main {
    position: relative;
    height: calc(100% - var(--header-height));
    padding: var(--section-padding);
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: calc(var(--section-padding) / 2);
    grid-column-gap: var(--section-padding);
    grid-template-areas: "title title title""content content aside";
    /*border: 1px solid -apple-system-green;*/
    border: 3px solid -apple-system-green;
    border-radius: var(--border-radius-std);
    height: 100%;
    overflow: scroll;
}

section:before {
    content: '';
    display: block;
    position: absolute;
    margin: 0;
    left: var(--section-padding);
    right: var(--section-padding);
    height: 2px;
    top: 0;
    background: var(--color-grade-0);
}

section h1 {
    grid-area: title;
}

section .article_content {
    grid-area: content;
}

section aside {
    grid-area: aside;
    background: var(--color-grade-0);
    border-radius: var(--border-radius-std);
    padding: calc(var(--section-padding) / 2);
}

section .article_content>*+* {
    margin-top: 24px;
}

section aside>*+*,
section article>*+* {
    margin-top: 12px;
}